* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
}

header {
    height: 80px;
    background-color: yellow;
}
header img {
    height: calc(80px - 5px - 5px);
    margin-left: 10px;
    margin-top: 5px;
}

main #music-container {
    width: 90%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: blue;
}
main #music-container li {
    margin: 10px;
}