/* classi preliminari */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* /classi preliminari */

/* altro */
#root {
    height: 100vh;
    width: 100vw;
    background-color: rgb(30 45 59);
}

header {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46 58 70);
}
header img {
    position: absolute;
    left: 10px;
    height: calc(80px - 5px - 5px);
}
header #genre-select {
    padding: 5px;
    background-color: rgb(46 58 70);
    color: white;
    border-color: white;
}

main #music-container {
    width: 90%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
main #music-container li {
    margin: 10px;
    height: 310px;
    width: calc((100% - (10px * 14)) / 7);
    min-width: 150px;
    background-color: rgb(46 58 70);
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s;
}
main #music-container li:not(.big):not(.details):hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}
main #music-container img {
    width: calc(100% - 15px - 15px);
    margin: 15px 15px 0 15px;
    cursor: pointer;
}
main #music-container h3 {
    margin: 10px;
    color: white;
    text-transform: uppercase;
}
main #music-container h4 {
    margin: 10px;
    color: gray;
}

main #music-container li.big,
main #music-container li.details {
    height: 600px;
    width: 400px;
    margin: 10px;
    padding: 20px;
    transition: 0s;
}
main #music-container li.big h3,
main #music-container li.big h4 {
    font-size: 1.5em;
    margin-top: 30px;
}

/* /altro */
