<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Dischi</title>
</head>
<body>
    
    <div id="root">
        <header>
            <img src="img/Spotify_logo.png" alt="logo">
            <select name="genre-select" id="genre-select" v-model="selected">
                <option value="All">All</option>
                <option v-for="genre in genres" :value="genre">{{genre}}</option>
            </select>
        </header>
        <main>
            <ul id="music-container">
                <li v-for="(album,index) in albums" v-if="((album.genre == selected) || (selected == 'All')) && (seen == -1 || seen == index)" :class="(seen == index)? 'big' : ''">
                    <img :src="album.poster" alt="album" @click="albumDetails(index)">
                    <h3>{{album.title}}</h3>
                    <h4>{{album.author}}<br>{{album.year}}</h4>
                </li>
                <li v-for="(album,index) in albums" v-if="seen == index" class="details"></li>
            </ul>
        </main>
    </div>

    <script src="js/main.js"></script>
</body>
</html>